<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions>
    <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@2.20">
      <jobPropertyDescriptors>
        <string>hudson.model.ParametersDefinitionProperty</string>
      </jobPropertyDescriptors>
    </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>5</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GIT_URL</name>
          <description>仓库地址</description>
          <defaultValue>${gitUrl}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_BRANCH</name>
          <description>分支名称</description>
          <defaultValue>${gitBranch}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_CREDIT</name>
          <description>jenkins凭据</description>
          <defaultValue>${gitCredit}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IS_RUN_SONAR</name>
          <description>是否执行sonar构建</description>
          <defaultValue>${isRunSonarBoolean?c}</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IS_MAVEN_DEBUG</name>
          <description>是否启用maven调试，默认值false</description>
          <defaultValue>${isMavenDebugBoolean?c}</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IS_RUN_SONAR_HTML</name>
          <description>是否执行sonar html扫描</description>
          <defaultValue>${isRunSonarHtmlBoolean?c}</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        
         <hudson.model.BooleanParameterDefinition>
          <name>IS_USE_GIT_TAG</name>
          <description>是否使用git tag </description>
          <defaultValue>${isUseGitTagBoolean?c}</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        
         <hudson.model.BooleanParameterDefinition>
          <name>IS_SEND_EMAIL</name>
          <description>是否发送邮件通知 </description>
          <defaultValue>${isSendEmailBoolean?c}</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        
         <hudson.model.BooleanParameterDefinition>
          <name>IS_DEPLOY_NEXUS</name>
          <description>是否发布到nexus中 </description>
          <defaultValue>${isDeployNexusBoolean?c}</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        
        
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec>H/10 * * * *</spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.64">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/15838028035/jenkins_ci.git</url>
          <credentialsId>0118d4f6-4486-4c48-83d8-428424264c09</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/master</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>jenkins_pipline_docker.groovy</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>